<div class='profile-block'>
  <div class='pull-left'>
    <%= g(current_user, 'img-circle', size: 128) %> &nbsp; 
    <span class="badge badge-info"> <%= current_user.email %> </span>
  </div>

  <div class="clearfix"></div>
</div>

<div class='menu-block top20'>
  <strong> What do you want to do? </strong>
  
  <ul class="unstyled top10">
    <li> <%= link_to "Edit Profile", new_user_path %> </li>
    
  </ul>
</div>
