// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';
// @import 'bootstrap-responsive';

.top5 { margin-top:5px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top20 { margin-top:20px; }

.bottom5 { margin-bottom:5px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom20 { margin-bottom:20px; }

.left5 { margin-left:5px; }
.left10 { margin-left:10px; }
.left15 { margin-left:15px; }
.left20 { margin-left:20px; }

.padding5 { padding:5px; }
.padding10 { padding:10px; }
.padding15 { padding:15px; }
.padding20 { padding:20px; }

.content-block {
  padding:10px;
}

.task-block {
  padding:5px;
}

.project {
  cursor:pointer;
}

.italic { font-style:italic; }